
body{
    background-color: yellow;
    max-width: 1000px;
    min-width: 140px;
}

img.cabecalho{
    color: yellow;
    border-top: 5%;
    border-left: auto;
    border-right: auto;
    width: 90%;
    max-width: 1100pc;
}